<script setup lang="ts">
import { VPHomeSponsors } from "vitepress/theme";
import { useSponsor } from "../composables/sponsor";

const data = [
  {
    tier: "Khách hàng của chúng tôi",
    size: "big",
    items: [
      {
        name: "Cảng Đà Nẵng",
        url: "https://danangport.com/",
        img: "/images/customer/cdn.png",
      },
      {
        name: "Fast",
        url: "https://fast.com.vn/",
        img: "/images/customer/fast.png",
      },
       {
        name: "Giày BQ",
        url: "https://giaybq.com.vn/",
        img: "/images/customer/bq.png",
      },
      {
        name: "Kim Hùng",
        url: "https://kimhung.vn/",
        img: "/images/customer/kimhung.png",
      },
      {
        name: "Davicorp",
        url: "#",
        img: "/images/customer/davicorp.png",
      },
       {
        name: "Vạn Thành",
        url: "#",
        img: "/images/customer/vanthanh.jpg",
      },
      {
        name: "Rio",
        url: "https://www.riocinemas.vn/",
        img: "/images/customer/rio.png",
      },
      {
        name: "Viettronimex",
        url: "https://vietro.com.vn/",
        img: "/images/customer/viettro.png",
      }
    ],
  }
];
</script>

<template>
  <VPHomeSponsors
    v-if="data"
    action-text="Liên hệ với chúng tôi"
    action-link="https://zalo.me/2380726104598687552?src=media"
    :data="data"
  />
</template>
